@import "essentials", "layout", "navbar", "colors-background", "colors-buttons", "colors-text", "colors-alerts", "colors-progress-bars", "material", "main";


body.draftBoard{
  margin:0;
  padding:0;
  height:100%;

  ul,
  ol {
    height:100%;
    padding: 0;
    margin: 0;
  }

  #draft_board{
      width: 100%;
      height: 100%;
      border:1px solid #999;
      background-color: white;

      ul.draft_board__round_column{

          list-style-type: none;
          float: left;
          background-color: #ECECEC;
          width:3%;

          li{
              border-right: 1px solid #999;
              border-bottom: 1px solid #999;
              height:5.875%;
              text-align: center;
              &:first-child{
                height:4%;
                border-bottom: none;
              }
          }

      }

      ul.draft_board__column{
          list-style-type: none;
          float: left;
          width:8.083%; // This needs to be calculated within the code

          li{
              display: block;
              border-right: 1px solid #999;
              border-bottom: 1px solid #999;
              height:5.875%;
              overflow: hidden;

              &.active-team{
                background: red;
              }

              &:first-child{
                border-bottom: none;
                text-align: center;
                font-size: 16px;
                height:4%;
              }

              &.QB{
                  background-color: #95bde3;
                  color:black;
              }

              &.RB{
                  background-color: #fc9e5e;
                  color:black;
              }

              &.WR{
                  background-color: #e8e887;
                  color:black;
              }

              &.TE{
                  background-color: #d195ec;
                  color:black;
              }

              &.K{
                  background-color: #96e299;
                  color:black;
              }

              &.DEF{
                  background-color: #ffb6b6;
                  color:black;
              }

              .max{
                text-align: center;
                font-size: 12px;
              }

              .draft_pick_card{
                  // margin: 1px;
                  padding: 2px;
                  text-align: center;

                  .label{
                      font-size: 10px;
                      padding:2px 3px;
                  }

                  .first_name{

                  }
                  .last_name{
                      font-weight: bold;
                      font-size: 20px;
                  }



              }
          }


      }
  }

  ul.draft_order{
      margin: 0;
      padding: 0;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space:nowrap;
      width: 100%;

      li{
          list-style-type: none;
          display:inline-block;
          min-width: 100px;
          padding:5px;
          height:50px;
          text-align: center;
          background-color: #fff;
          line-height: 50px;
          font-size: 18px;

        &:first-child{
            background-color: #ccc;
        }

      }



  }

  .otb_container{
      width: 100%;
      margin-top: 20px;
      padding:10px;
      background-color: white;

      .otb_info{
          margin-top: 5px;
          width:100%;

          .otb_table{
              width: 100%;
              margin-top: 10px;

              tr{
                  border-bottom: 1px solid #cccccc
              }

              tr:first-child{
                  border-top: 1px solid #cccccc
              }

              .title{
                  width: 50%;
                  text-align: right;
                  padding-right: 10px;
              }
              .stat{
                  width: 50%;
                  font-weight: bold;
              }

          }

          .first_name, .last_name{
              font-size: 20px;
              line-height: 25px;
              color:#6b6b6b;
          }

          .last_name{
              color:#494949;
              font-weight: bold;
          }

          .team_logo{
              margin-right: 10px;
          }

      }
  }

  .next_pick_container{
      width: 100%;
      height:auto;
      margin-top: 20px;
      padding:10px;
      text-align: center;
      background-color: white;

      .next_pick{
          font-size: 20px;
          line-height: 30px;
          border-bottom: 2px solid #b2b2b2;
      }

      .name{
          margin-top: 5px;
          font-size: 25px;
          line-height: 50px;
          color:#3f3f3f;
      }

      .owner{
          margin-top: 5px;
          margin-bottom: 10px;
          font-size: 18px;
          color:#565656;
      }


  }


  .previous_draft_picks{
      width: 100%;
      height:500px;
      max-height: 500px;
      overflow: scroll;
      margin-top: 20px;
      padding:10px;
      background-color: white;
  }


}


.top-navbar-xlarge body.draftBoard{
  padding-top: 0 !important;
}