  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand navbar-brand-logo">
          <a ui-sref="auth.fantasy-drafts">
            Fantasy Draft Hub
          </a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-nav">
        <div class="navbar-right">
          Hello, {{currentUser.name}} &nbsp;&nbsp;&nbsp;
          <a ng-click="logout()" class="navbar-btn btn btn-primary">Log Out</a>
        </div>
      </div>

    </div>
  </div>

  <ui-view></ui-view>

  <!-- Footer -->
  <footer class="footer">
    <strong>Fantasy Draft Hub LLC.</strong> v1.1.0 &copy; Copyright 2015
  </footer>