<div class="modal modal-backdrop-white" ng-class="{show: !enableFantasyBoard}" id="modal-password">
  <div class="modal-dialog modal-md">
    <div class="v-cell">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title text-center">Enter Draft Password</h4>
        </div>
        <div class="modal-body">
          {{passwordError}}
          <form>

            <div class="form-group form-control-material">
              <input type="text" class="form-control" id="name" placeholder="Enter the password for this draft board." ng-model="password">
              <label for="name">Password</label>
            </div>

            <button ng-click="loadDraftBoard()" class="btn btn-success btn-block paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated data-dismiss="modal">
              Go To Draft Board!
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div ng-if="enableFantasyBoard">
  Round: {{currentRound}}<br />
  Player: {{player.firstName}} {{player.lastName}}
  <div id="draft_board" auto-height>

    <ul class="draft_board__round_column">
      <li>
        &nbsp;
      </li>
      <li style="height:2%">
        &nbsp;
      </li>
      <li ng-repeat-n="fantasyDraft.rounds">
        {{$index + 1}}
      </li>
    </ul>

    <ul class="draft_board__column" ng-repeat="fantasyTeam in fantasyTeams">
      <li ng-class="{'active-team': teamThatsUp.id == fantasyTeam.id}">
          {{fantasyTeam.name}}
      </li>
      <li class="max" style="height:2%" ng-class="{'active-team': teamThatsUp.id == fantasyTeam.id}">
        <center>Max: ${{calculateMaxBid(fantasyTeam)}}</center>
      </li>
      <li class="{{fantasyDraftPick.player.position.key}}" ng-repeat="fantasyDraftPick in fantasyTeam.fantasyDraftPicks">
        <div class="draft_pick_card">
          <span class="label label-info pull-left">
            {{fantasyDraftPick.player.position.key}}
          </span>
          <span class="label label-info pull-right">
            ${{fantasyDraftPick.price}}
          </span>
          <div class="first_name">
            {{fantasyDraftPick.player.firstName}}
          </div>
          <div class="last_name">
            {{fantasyDraftPick.player.lastName}}
          </div>
        </div>
      </li>

      <li ng-repeat-n="fantasyDraft.rounds - fantasyTeam.fantasyDraftPicks.length"></li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>


