<div class="parallax overflow-hidden bg-blue-400 page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <div class="media-body">
        <h1 class="text-white text-display-1 margin-v-0">
          <a class="text-gray" ui-sref="auth.fantasy-drafts">
            Fantasy Drafts
          </a>
          | {{fantasyDraft.name}} Teams
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-section">
    <div flash-message="5000"></div>
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="item col-xs-12 col-lg-12">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">Your Fantasy Draft Teams</h4>
              </div>

              <ul class="list-group" as-sortable="sortableOptions" ng-model="fantasyTeams" ng-show="fantasyTeams.length">
                <li class="list-group-item as-sortable-item  media v-middle" ng-repeat="fantasyTeam in fantasyTeams" as-sortable-item>
                  <div class="pull-right">
                    <span class="helper">To adjust the Fantasy Draft order <strong>click and drag</strong> the handle to set the draft order.</span>
                    <i class="as-sortable-item-handle glyphicon glyphicon-menu-hamburger" as-sortable-item-handle></i>
                  </div>

                  <div>
                    <h4 class="text-subhead margin-none">
                      <a ng-click="setFantasyTeam(fantasyTeam)" data-toggle="modal" data-target="#modal-fantasy-team" class="list-group-link" style="color:#337AB9; cursor:pointer">
                        {{fantasyTeam.name}}
                      </a>
                      <span class="helper" style="padding-left:5px;">Click Fantasy Team Name to Edit</span>
                    </h4>
                  </div>
                </li>
              </ul>

              <ul class="list-group" ng-show="!fantasyTeams.length">
                <li class="list-group-item media v-middle" >
                  <div class="media-body" style="font-size:16px;">
                    You have not added any fantasy teams to your draft board. To add a Fantasy Team, click the button below here to create one.
                  </div>
                </li>
              </ul>

              <div class="panel-footer text-right">
                <button ng-click="fantasyTeam = {}; formErrors = []" data-toggle="modal" data-target="#modal-fantasy-team" class="btn btn-success">
                  Create New Draft Team
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal grow modal-backdrop-white fade" id="modal-fantasy-team">
  <div class="modal-dialog modal-md">
    <div class="v-cell">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">Fantasy Team</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" ng-if="formErrors.length">
            <ul>
              <li ng-repeat="error in formErrors">{{error}}</li>
            </ul>
          </div>

          <form>

            <div class="form-group form-control-material">
              <input type="text" class="form-control" id="name" placeholder="Enter the fantasy teams name" ng-model="fantasyTeam.name" ng-class="{used: fantasyTeam.name}">
              <span class="ma-form-highlight"></span>
              <span class="ma-form-bar"></span>
              <label for="name">Fantasy Team Name</label>
            </div>

            <button ng-click="saveFantasyTeam(fantasyTeam)" class="btn btn-success btn-block">
              Save Team
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
