<div class="parallax overflow-hidden bg-blue-400 page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <div class="media-body">
        <h1 class="text-white text-display-1 margin-v-0">Fantasy Drafts</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-section">
    <div flash-message="5000"></div>
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="item col-xs-12 col-lg-12">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">Your Draft Boards</h4>
              </div>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="fantasyDraft in fantasyDrafts">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="media-body">
                          <h5>
                            {{fantasyDraft.name}}
                          </h5>
                          <div class="caption">
                            <span class="text-light">Created:</span>
                            <span style="color: #337ab7">{{fantasyDraft.createdAt | date:'medium'}}</span>
                          </div>
                          <div class="caption">
                            <span class="text-light">Draft URL:</span>
                            <a style="color: #337ab7" href="{{fantasyDraft.urlLink}}" target="_blank" title="Open your draft board.">
                              {{fantasyDraft.urlLink}}
                            </a>
                          </div>
                          <div class="caption">
                            <span class="text-light">Total Rounds:</span>
                            <span style="color: #337ab7">{{fantasyDraft.rounds}}</span>
                          </div>
                          <div class="caption">
                            <span class="text-light">Max Amount:</span>
                            <span style="color: #337ab7">{{fantasyDraft.max | currency}}</span>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div>
                        What would you like to do?
                      </div>
                      <br />
                      <a class="btn btn-primary" ng-click="setFantasyDraft(fantasyDraft)" data-toggle="modal" data-target="#modal-create-draft">
                        Edit Draft Settings
                      </a>
                      <a class="btn btn-primary" ui-sref="auth.fantasy-teams({fantasyDraftId: fantasyDraft.id})">
                        Manage Teams
                      </a>
                      <a class="btn btn-primary" ui-sref="auth.fantasy-draft({fantasyDraftId: fantasyDraft.id})" ng-show="fantasyDraft.fantasyTeams.length">
                        Draft Panel
                      </a>
                    </div>
                  </div>
                </li>

                <li class="list-group-item media v-middle" ng-show="fantasyDrafts.length == 0">
                  <div class="media-body" style="font-size:16px;">
                    You have not created any draft boards. To add a Draft Board, click the button below here to create one.
                  </div>
                </li>

              </ul>
              <div class="panel-footer text-right">
                <button ng-click="fantasyDraft = {}; formErrors = []" data-toggle="modal" data-target="#modal-create-draft" class="btn btn-success">
                  I want to Create New Draft Board
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal grow modal-backdrop-white fade" id="modal-create-draft">
  <div class="modal-dialog modal-md">
    <div class="v-cell">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">Fantasy Draft Board</h4>
        </div>
        <div class="modal-body">

          <div class="alert alert-danger" ng-if="formErrors.length">
            <ul>
              <li ng-repeat="error in formErrors">{{error}}</li>
            </ul>
          </div>

          <form>

            <div class="form-group form-control-material">
              <input type="text" class="form-control" id="name" placeholder="Enter your draft boards name" ng-model="fantasyDraft.name" ng-class="{used: fantasyDraft.name}">
              <span class="ma-form-highlight"></span>
              <span class="ma-form-bar"></span>
              <label for="name">Draft Board Name</label>
            </div>

            <div class="form-group form-control-material">
              <input type="text" class="form-control" id="max" placeholder="What is the max amount each player can be allocated?" ng-model="fantasyDraft.max" ng-class="{used: fantasyDraft.max}">
              <span class="ma-form-highlight"></span>
              <span class="ma-form-bar"></span>
              <label for="max">Maximum Dollar Amount Per Team</label>
            </div>

            <div class="form-group form-control-material">
              <input type="text" class="form-control" id="rounds" placeholder="What is the total rounds for this draft?" ng-model="fantasyDraft.rounds" ng-class="{used: fantasyDraft.rounds}">
              <span class="ma-form-highlight"></span>
              <span class="ma-form-bar"></span>
              <label for="rounds">Total Draft Rounds</label>
            </div>

            <button ng-click="saveFantasyDraft(fantasyDraft)" class="btn btn-success  btn-block">
              Save Draft Board
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
